@import url('https://fonts.googleapis.com/css?family=Chivo|Baloo+2|Nunito|PT+Sans|Roboto|Open+Sans|Saira&display=swap');
/*
Fuligine: #483D3C;
Crema: #F4EBD0;
Rosso: #A11B1B;




blu scuro #0086AC
blu più chiaro #0080FF
cieleste scuro #3399FF

*/

html {
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
  letter-spacing: 1.2px;
}

h1 {
  font-size: 57.5px;
  text-align: center;
}

h2 {
  font-size: 55px;
  text-align: left;
}

h3 {
  font-size: 50px;
  text-align: left;
}

h4 {
  font-size: 40;
}

p, span {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.5px;
  font-size: 27.5px;
  line-height: 40px;
  text-align: justify;
}

a {
  color: #FF0000;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #FF3333;
}

a:active {
  color: #33FFFF;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.mobile-navbar {
  display: none;
}


.navbar {
  width: 100%;
  height: 90px;
  margin: 0 auto;
  background-color: #F2F0FC;
  display: flex;
}

.nav-titles {
  display: flex;
  justify-content: start;
  margin: auto;
  background-color: #0066CC;
  list-style-type: none;
  font-family: "Chivo", sans-serif;
  font-size: 25px;
  height: 90px;
  width: 100%;
}

.nav-titles li {
  text-align: center;
  vertical-align: middle;
  border-right: 3px solid #0080FF;
  display: flex;
  flex-direction: column;
  padding: auto;
}

.nav-titles li a {
  color: white;
  display: block;
  height: 100%;
  margin: 30px 12.5px;
}

.nav-titles li:hover {
  background: #1181C8;
}


.nav-titles li:first-child {
  background-color: #0066CC;
}

.box-logo {
  display: flex;
  height: 100%;
  flex-direction: column;
  transition: .8s;
}

.box-logo:hover {

  backgroud-color: white;

}

.box-logo:active {
  background-color: #F2F0FC;
  transition: none;
}





#logo {
  font-family: "Saira", serif;
  font-size: 32.5px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: .5s;
  color: #F2F0FC;
  margin-top: 20px;
}

#logo:hover {
}


  .flag-container {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
  }

  .flag {
    background-color: white;
    width: 33.3%;
    height: 5px;
    margin: 0;
  }

  .green {
    background-color: #009246;
  }


  .red {
    background-color: #ce2b37;
  }

  .navbar ul:nth-child(2) {
    justify-content: end;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .login-container .fa-user-circle {
    text-align: center;
    margin-bottom: 7.5px;
    font-size: 37.5px;
    color: rgb(240, 240, 240);
  }

    .login-container span {
      font-family: "Saira", sans-serif;
      text-align: center;
      font-size: 22.5px;
      color: rgb(240, 240, 240);
    }

#login {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: white;
  opacity: 0.9;
  transition: .5s;
  border-radius: 0 35px 35px 0;
}

#login:hover, #login:hover span, #login:hover .fa-user-circle {
  background-color: #3399FF;
  color: white;
  opacity: 1;
  transition: .2s;
}

#login:active , #login:active span, #login:active .fa-user-circle{
  background-color: #0066CC;
  color: white;
  opacity: 1;

}

header {
  background-image: url(../media/head-img.jpeg);
  background-position: center;
  width: 100%;
  height: 1080px;
  vertical-align: middle;

}

.main-title {
  text-transform: uppercase;
  font-family: "Baloo 2", sans-serif;
}


.main-title .fas {
  text-shadow: 2px 2px 0 #1a1a1a, 2px -2px 0 #1a1a1a, -2px 2px 0 #1a1a1a, -2px -2px 0 #1a1a1a, 2px 0px 0 #1a1a1a, 0px 2px 0 #1a1a1a, -2px 0px 0 #1a1a1a, 0px -2px 0 #1a1a1a;
}

.fa-newspaper {
  color: #F8ECC2;

}

.fa-concierge-bell {
  color: #ffd700;
}

.fa-hands-wash {
  color: pink;
}

.fa-virus {
  color: #f10001;
}

.article-container {
  max-width: 992px;
  margin: 20px auto;
  border-radius: 30px;
}

.article-container img {
  width: 100%;
  max-height: auto;
  border-radius: 7.5px;
}

.article-info-container {
  margin: 0 auto 0 auto;
  padding: 0 25px 25px 25px;
}

.top-news-container {
  position: relative;
  text-align: right;
  height: max-content;
}

.article-info-container h2 {
  text-align: center;
  color: #0066CC;
  margin: 22.5px auto;
}

.source-container {
  margin: 10px 0;
}

.news-source {
  font-family: "Baloo 2", sans-serif;
  font-size: 30px;
  letter-spacing: 1px; 
  color: #252525;
  opacity: .9;
  text-align: right;
  margin: 0;
}

.news-source a {
  color: #0066CC;
  opacity: 1;
  transition: .3s;
}

.news-source a:hover {
  color: rgb(32, 156, 240);
  transition: .5s;
}

.news-source a:active {
  color: rgb(0, 68, 136);
}

.line {
  margin: 40px auto;
  height: 2.5px;
  max-width: 100%;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(104,187,227,1) 50%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(104,187,227,1) 50%, rgba(255,255,255,1) 100%);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(104,187,227,1) 50%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

.big-line {
  height: 1px;
  margin: 100px auto;
  max-width: 100%;
  border-radius: 25%;
}


.black {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(107,107,107,1) 50%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(107,107,107,1) 50%, rgba(255,255,255,1) 100%);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(107,107,107,1) 50%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1); 
}

.bell {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,215,0,1) 50%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,215,0,1) 50%, rgba(255,255,255,1) 100%);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,215,0,1) 50%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1); 
}

.virus {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(241,0,1,1) 50%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(241,0,1,1) 50%, rgba(255,255,255,1) 100%);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(241,0,1,1) 50%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1); 
}

.article-info-container {

}


.arrow-slideshow {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
  height: max-content;
}

.prev-arrow-and-text-container,.next-arrow-and-text-container {
  display: inline-flex;
  justify-content: space-between;
  background-color: #1181C8;
  color: white;
  border-radius: 7.5px;
  height: 55px;
  width: 235px;
  padding: 25px 30px 0px 30px;
  transition: .5s;
}

.prev-arrow-and-text-container:hover,.next-arrow-and-text-container:hover {

transition: .3s;
background-color:  rgb(32, 156, 240);
color: rgb(209, 209, 209);
}

.prev-arrow-and-text-container:active,.next-arrow-and-text-container:active {
  color: rgb(179, 179, 179);
  background-color: #003060;
}

.prev-text:active, .next-text:active {
  text-shadow: 3px 2px 3px rgb(0, 68, 136);
}



.prev-arrow-and-text-container {
}

.next-arrow-and-text-container {
}

.prev-icn .fas, .next-icn  .fas{
display: flex;
flex-direction: column;
font-size: 50px;
border-radius: 2.5px;
margin-top: -10.5px;
}

.prev-icn .fas {
  margin-right: 10px;
}

.next-icn .fas {
  margin-left: 10px;
}


.prev-text span, .next-text span {
  font-family: "Baloo 2", sans-serif;
  letter-spacing: 1.5px;
  font-size: 30px;
  text-transform: uppercase;
}



/**/

.main-introduction {
  margin: 0 auto;
  max-width: 992px;
  margin-top: -30px;
}

.main-introduction p {
  
}
/*Sezione consigli sanitari*/

.warning-container {
  display: flex;
  justify-content: space-evenly;
  width: 992px;
  max-content; /*DA RIMUOVERE PER RESPONSIVE*/
  padding-top: 25px;
  margin: auto;
}


.warning-message {
  border-radius: 7.5px;
  width: 180px;
  height: 90px;
  padding: 15px 20px;
  margin: 0 5px;

  transition: .2s;
}

.warning-message > span {
  font-family: "Open Sans", serif;
  line-height: 30px;
  font-weight: bold;
  font-size: 22.5px;
  letter-spacing: .2px;
  cursor: default;
}

.warning-message .fas {
  font-size: 75px;
}


.warning-message:hover {
  transform: translateY(-10px);
  transition: .3s;
  transition-delay: .1s;
  -webkit-box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 8px 14px 0px rgba(0,0,0,0.75);
}

.warning-message:first-child {
  background-color: #FEDE00;
  border: 4px solid #504600;
  color: #504600;
  text-align: right;
}

.warning-message:first-child .fas {
  color: #504600;
  float: left;
  margin: 18.5px -36px;
}


.warning-message:nth-child(2), .warning-message:nth-child(3) {
  margin-top: 50px;
}

.warning-message:nth-child(2) {
  background-color: #B4F8C8;
  border: 4px solid #0A6625;
  color: #0A6625;
  text-align: right;
}

.warning-message:nth-child(2) span {

  line-height: 20px;
  font-size: 22.5px;
  letter-spacing: 1.2px;
}

.warning-message:nth-child(2) .fas{
  color: #0A6625;
  float: left;
  margin:  -18px -36px;

}

.warning-message:nth-child(3) {
  background-color: #6AB8EE;
  border: 4px solid #140f1b;
  color: #140f1b;
}

.warning-message:nth-child(3) .fas{
  color: #140f1b;
  float: right;
  margin:  -11px -36px;
}

.warning-message:nth-child(4) {
  background-color: #A8D9F8;
  border: 4px solid #3b050f;
  color: #3b050f;
}

.warning-message:nth-child(4) span {
  line-height: 18px;
  font-size: 22.5px;
}

.warning-message:nth-child(4) .fas {
  color: #3b050f;
  margin: -16.5px -35.5px;
  float: right;
}

/*Sezione Servizi*/

.services-container {
  margin: 20px auto;
  display: flex;
  height: max-content;
  width: 992px;
  flex-wrap: wrap;

}


.card {
  max-width: 420px;
  height: max-content;
  background-color: #F2F0FC;
  cursor: pointer;
  border-radius: 7.5px;
  transition: .4s;
  margin: 25px auto;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.card:hover {
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
}

.card > img {
  width: 100%;
  height: 300px;
  border-radius: 7.5px 7.5px 0 0;

}

.card div {
  padding: 10px 30px;
  border-radius: 7.5px;
  height: 375px;
}

.card h2 {
  font-size: 26px;
  padding-bottom: 10px;
  border-bottom: 2px solid #0066CC;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  color: #0066CC;

}

.card p {
  font-size: 24px;
  line-height: 37.5px;
}

/*Sezione contatore*/
.contatore > .first-page-desc {
  max-width: 100%;
}

.contatore table {
  margin: 15px auto;
  border: 2.5px solid #1a1a1a;
  width: 500px;
  height: max-content;
}
.contatore caption {
  font-family: "Arvo", serif;
  font-size: 22.5px;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 15px;
}

.container caption > .fas {
  font-size: 22.5px;
  padding-right: 15px;
}

.contatore caption i {
  font-size: 18px;
  padding-left: 25px;
}

.contatore table tr th {
  font-family: "Roboto Slab", serif;
  font-size: 25px;

}

.contatore table tr td {
  font-family: "Roboto Slab", serif;
  font-size: 22px;
  padding: 0 5px;
  background-color: #F4EBD0;
}

.plus {
  color: #119100;
}

.minus {
  color: #A11B1B;
}

.decease {
  color: #d3b67c;
  background-color: black;
}

.recovered {
  background-color: #00c610;
}

.total {
  color: #d3b67c;
  background-color: #1a1a1a;
}

/*Footer*/

footer {
  background-color: #F2F0FC;
  padding-bottom: 30px;
  padding-top: 30px;

}

.footer-container {
  display: flex; 
  width: 992px;
  justify-content: space-evenly;
  margin: 10px auto;
  width: 100%;
  border-top: 1px solid #ccc;
}

.footer-desc {
  width: 33.3%;
  border-right: 1px solid #ccc;
}

.footer-desc span {
  line-height: 27.5px;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}

.footer-container div {
  padding: 0 20px;
}

.footer-container div h4 {
  color: #0066CC;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  display: block;
  width: 100%;
  font-size: 22.5px;
  text-align: center;

}

.contacts, .websites {
  width: 33.3%;
  border-right: 1px solid #ccc;

  line-height: 20px;
  font-size: 17.5px;
  font-family: "Chivo", sans-serif;
}

.websites {
  border: 0;
}

.contacts li, .websites li {
  line-height: 27.5px;
}

.down-footer-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  padding: 25px 10%;
}

#foot-logo {
  width: 320px;
}

.down-navbar-container a {

}

#back-to-the-top {
  text-transform: uppercase;
  font-family: "Saira", serif;
  padding-top: 50px;
  transition: .5s;
  color: #252525;

}

#back-to-the-top > a {
  font-size: 30px;
  text-decoration: none;

}

#back-to-the-top .fa-arrow-alt-circle-up {
  transition: .5s;
  color: #0066CC;
}

#back-to-the-top:hover {

  color: #1a1a1a;
}

#back-to-the-top:hover .fa-arrow-alt-circle-up {
  transition: .4s;
  transform: translateY(-5px);
  text-shadow: 0px 1px 3px #000000;
}

@media screen and (min-width: 768px) and (max-width: 992px) {

  .mobile-menu {
    display: none;
  }

  .lateral-box-container {
    max-width: 125px;
  }

  .lateral-navbar-text {
    font-size: 16px;
    padding: 2.5px;
  }

  .navbar li:nth-child(2) {
    margin-top: 30px;
  }


  #logo {
    font-size: 45px;
  }


  .container {
    max-width: 745px;
  }


  .first-page-container {
    max-width: 740px;
  }

  .section-title {
    font-size: 27.5px;
  }

  .first-page-container > h1 {
    font-size: 25px;
  }

  .first-page-desc-container {
    display: block;
    padding: 0 85px;

  }

  .first-page-img {
    max-width: 720px;
    margin-bottom: 20px;
  }

  .first-page-desc {
    line-height: 27.5px;
    max-height: max-content;
    max-width: 620px;
    margin: 0 -10px;
    padding-right: 12.5px;
  }

  .features {

    margin-left: -20px
  }

  .arrow-slideshow {
    max-width: 714px;
  }

  .prev-text, .next-text {
    display: none;
    margin-bottom: 10px;
  }

  .footer-container > div:nth-child(1) {
    border-bottom: 2.5px solid #1a1a1a;
    margin-right: -30px;
  }


  .footer-container > div:nth-child(2){
    border-right: 0;
    margin-left: -30px;
    border-bottom: 2.5px solid #1a1a1a;
  }

  .footer-container > div:nth-child(3) {
    margin-left: 285px;
  }

  .insert {
    width: 320px;
    height: 245px;
  }

  #first-pointer {
    margin: -20px 0;
  }

  #second-pointer {
    margin: 20px 0;
  }


  .shop {
    width:375px;
  }

  .insert-title {
    font-size: 13px;
  }


  .warning-container {
    flex-wrap: wrap;
    max-width: 768px;
    margin: 10px 10px;
  }

  .warning-message {
    display: inline-block;
    margin: 25px 0 0 25px;
    flex-grow: 1;
    height: 70px;
  }

  .warning-message .fas {
    margin: 14px -35px;
  }

  .warning-message:nth-child(4) .fas {
    margin: -2.5px -35px;
  }

  .footer-container {
    flex-wrap: wrap;
  }

  .footer-container > div {
    width: 740px;
    padding: 0 auto;
    border-left:

  }
  .footer-container > div:first-child {
    width: 270px;
  }
  .footer-page-desc {
    max-width: 250px;
  }

}

@media screen and (min-width: 320px) and (max-width: 768px) {


  .navbar {
    display: none;
  }

  .mobile-navbar {
    display: block;
    margin: 25px 15px;
    height: 30px;
    margin: 0 0 30px 0;
  }

  .mobile-navbar-titles {
    margin: auto;
    display: inline-flex;
    justify-content: space-between;
    background-color: #F4EBD0;
    width: 100%;
    list-style-type: none;
    height: 62.5px;
    padding: 0;
    border-bottom: 3.5px solid #1a1a1a;
  }

  .mobile-navbar li {
    justify-content: space-between;
    margin: 15px 0 12.5px 25px;
    font-size: 30px;
    color: #B68D40;
  }

  .mobile-navbar li:nth-child(2) {
    margin: 12.5px 0;
    color: #1a1a1a;
  }

  .mobile-navbar li:nth-child(3) {
    margin: 12.5px 0;
    padding-bottom: 2px;
    color: #B68D40;

  }
  .mobile-navbar li a {
    color: #1a1a1a;
  }

  .box-logo {
    margin-top: -25px;
  }

  #mobile-login {
    text-transform: uppercase;
    font-family: "Kreon", serif;
    margin-right: 15px;
    font-size: 22.5px;
    color: #A11B1B;

  }

  .down-navbar-container {
    display: none;
  }

  .container {
    width: 98%;
    margin: 0 auto;
    overflow: hidden;
  }

  .lateral-box-container {
    display: none;

  }

  .lateral-navbar-text {
    font-size: 12px;
  }

  .navbar li:nth-child(2) {
    margin-top: 37.5px;
  }

  #logo {
    font-size: 25px;
    margin: 0;
  }

  .warning-container {
    flex-wrap: wrap;
    min-width: 320px;
    margin-bottom: 10px;

  }

  .small-container {
    padding: 0;
    box-shadow: none;
    width: 98%;
  }

  .minor-title {
    font-size: 27px;
    margin: 17.5px auto;
    padding: 0 auto;
    text-align: center;
    width: 280px;
  }

  .warning-message {
    flex-direction: column;
    margin-top: 10px;
    flex-grow: 1;
    height: 50px;
  }

  .warning-message:first-child {
    margin-top: 30px;
  }

  .first-page-container h1 {
    font-size: 22px;
    padding: 0 10px;
  }
  .first-page-desc-container {
    display: block;
    padding: 0 15px;
    width: 75%;
    margin: 0 auto;
  }

  .first-page-img {
    max-width: 100%;
    margin: 0 auto;
    margin-left: -4.5px;
  }

  .first-page-desc {
    padding-top: 15px;
    line-height: 22px;
    max-height: max-content;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
  }

  .arrow-slideshow {
    max-width: 98%;
  }

  .prev-text, .next-text {
    display: none;
  }

  .next-icn {
    padding-right: 15px;
  }

  .features {
    flex-direction: column;
  }

  .insert-section .minor-title {
    white-space: nowrap;
    width: 280px;
  }

  .insert {
    margin: 20px auto;
    max-width: 90%;
  }

  .insert-title {
    font-size: 11px;
  }

  .insert-title h2 {
    margin-left: 0;
    text-align: center;
  }


  .contatore caption {
    max-width: 290px;
    font-size: 12px;
    padding-left: -15px;
  }

  .contatore  caption > .fas {
    font-size: 18px;
    padding-left: 0;
  }

  .contatore caption i {
    font-size: 10px;
  }

  .second-desc {
    margin: 0 20px;
  }

  .contatore table {
    max-width: 290px;
    margin: 15px auto;
  }

  .footer-container {
    flex-direction: column;
    width: 100%;
  }

  .footer-container div {
    margin: 0 auto;
    border-top: 2px solid #1a1a1a;
    padding-top: 15px;
  }

  .footer-container h4 {
    font-size: 18.5px;
    width: max-content;
  }


  .footer-container div:nth-child(2) {
    border-left: 0;
    border-right: 0;
    padding: 0;
  }

  .footer-container div:nth-child(3) .minor-title {
  }

  .footer-container div:nth-child(3) {
    margin: 0 auto;

  }

  .footer-container div:first-child {
    border-top: 0;
    margin-bottom: 15px;
  }
  #foot-logo {
    max-height: 50px;
  }

  #back-to-the-top {
    margin-top: -17.5px;
  }

  #back-to-the-top > a {
    font-size: 17.5px;
  }

}
